body {
    margin: 0px;
    font-family: sans-serif;
}
/*
        HEADER-SECTION
*/
.header-section {
    background-color: black;
    color: #ffaf01;
    font-size: larger;
    padding: 1px;
    text-align: center;
}
/*
        MAIN SECTION 
*/
.main-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.main-section h1 {
    font-size: 50px;
}
.main-section * {
    font-weight: bold;
    font-size: 20px;
}
.main-section button {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.15s;
}
.main-section button:hover {
    color: black;
    background-color: white;
    transition: 0.15s;
}
ul {
    list-style: none;
    padding: 0px;
}
.basic-section {
    flex-basis: 200px;
    flex-shrink: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #ffaf01;
    border-radius: 10px;
}
.standard-section {
    flex-basis: 200px;
    flex-shrink: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #ffaf01;
    border-radius: 10px;
}
.premium-section {
    flex-basis: 200px;
    flex-shrink: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #ffaf01;
    border-radius: 10px;
}
/*
        FOOTER SECTION
*/
.footer-section {
    text-align: center;
    background-color: black;
    padding: 10px;
}
.footer-section li {
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
}
.footer-section a {
    text-decoration: none;
    color: #ffffff;
    
}

/*
    MQ FOR RESPONSIVE DESIGN
*/

@media (max-width: 1250px) {
    .header-section {
        text-align: start;
        padding: 20px;
        font-size: 15px;
    }
    .main-section {
        flex-direction: column;
        height: 100%;
    }
    .footer-section {
        text-align: center;
        padding: 5px;
    }
}